
:root {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(230, 230, 230);
}

.container {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.content-area {
    min-height: 400px;
    padding: 1rem;

    background-color: white;
}
